<section class="content d-flex justify-content-center">
 
  <div class="card-body col-md-6">
    <div class="card card-secondary">
      <div class="card-header">
        <h3 class="card-title">Change-Password</h3>
      </div>
      <div class="card-body">
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label"
                >New-Password</label
              >
              <div class="col-sm-8">
                <input
                  type="password"
                  class="form-control"
                  id="inputEmail3"
                  placeholder="NewPassword"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-4 col-form-label"
                >ReEnter-Password</label
              >
              <div class="col-sm-8">
                <input
                  type="password"
                  class="form-control"
                  id="inputPassword3"
                  placeholder="ReEnterPassword"
                />
              </div>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="float-right">
            <button type="submit" class="btn btn-secondary btn-sm">Save</button>
            <button type="submit" class="btn btn-secondary btn-sm">Cancel</button>
          </div>
          <!-- /.card-footer -->
        </form>
      </div>
    </div>
  </div>
</section>
