


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- /.col -->
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                    <div class="col-md-12">
                      <div class="card card-secondary">
                        <div class="card-header">
                          <h3 class="card-title">My account</h3>
                        </div>
                        <div class="card-body">
                          <form>
                            <div class="col-12">
                              <!-- Default box -->
                              <div class="card card-outline card-secondary">
                                <div class="card-header">
                                  <h3 class="card-title">User Information</h3>
    ​
                                  <div class="card-tools">
                                    <button
                                      type="button"
                                      class="btn btn-tool"
                                      data-card-widget="collapse"
                                      title="Collapse"
                                    >
                                      <i class="fas fa-minus"></i>
                                    </button>
                                  </div>
                                </div>
    ​
                                <div class="card-body">
                                  <div class="pl-lg-4">
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <div class="form-group focused">
                                          <label
                                            class="form-control-label"
                                            for="input-username"
                                            >Username</label
                                          >
                                          <input
                                            type="text"
                                            id="input-username"
                                            class="form-control form-control-alternative"
                                            placeholder="Username"
                                            value="lucky.jesse"
                                          />
                                        </div>
                                      </div>
                                      <div class="col-lg-6">
                                        <div class="form-group">
                                          <label
                                            class="form-control-label"
                                            for="input-email"
                                            >Email address</label
                                          >
                                          <input
                                            type="email"
                                            id="input-email"
                                            class="form-control form-control-alternative"
                                            placeholder="jesse@example.com"
                                          />
                                        </div>
                                      </div>
                                    </div>
    ​
                                    <div class="row">
                                      <div class="col-lg-6">
                                        <div class="form-group focused">
                                          <label
                                            class="form-control-label"
                                            for="input-first-name"
                                            >First name</label
                                          >
                                          <input
                                            type="text"
                                            id="input-first-name"
                                            class="form-control form-control-alternative"
                                            placeholder="First name"
                                            value="Lucky"
                                          />
                                        </div>
                                      </div>
    ​
                                      <div class="col-lg-6">
                                        <div class="form-group focused">
                                          <label
                                            class="form-control-label"
                                            for="input-last-name"
                                            >Last name</label
                                          >
                                          <input
                                            type="text"
                                            id="input-last-name"
                                            class="form-control form-control-alternative"
                                            placeholder="Last name"
                                            value="Jesse"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
    ​
                            <!-- <hr class="my-4" /> -->
    ​
                            <div class="col-12">
                              <!-- Default box -->
                              <div
                                class="card collapsed-card card-outline card-secondary"
                              >
                                <div class="card-header">
                                  <h3 class="card-title">Contact Information</h3>
                                  <div class="card-tools">
                                    <button
                                      type="button"
                                      class="btn btn-tool"
                                      data-card-widget="collapse"
                                      title="Collapse"
                                    >
                                      <i class="fas fa-plus"></i>
                                    </button>
                                  </div>
                                </div>
    ​
                                <div class="card-body">
                                  <div class="pl-lg-4">
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="form-group focused">
                                          <label
                                            class="form-control-label"
                                            for="input-address"
                                            >Address</label
                                          >
                                          <input
                                            id="input-address"
                                            class="form-control form-control-alternative"
                                            placeholder="Home Address"
                                            value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09"
                                            type="text"
                                          />
                                        </div>
                                      </div>
                                    </div>
    ​
                                    <div class="row">
                                      <div class="col-lg-4">
                                        <div class="form-group focused">
                                          <label
                                            class="form-control-label"
                                            for="input-city"
                                            >City</label
                                          >
                                          <input
                                            type="text"
                                            id="input-city"
                                            class="form-control form-control-alternative"
                                            placeholder="City"
                                            value="New York"
                                          />
                                        </div>
                                      </div>
    ​
                                      <div class="col-lg-4">
                                        <div class="form-group focused">
                                          <label
                                            class="form-control-label"
                                            for="input-country"
                                            >Country</label
                                          >
                                          <input
                                            type="text"
                                            id="input-country"
                                            class="form-control form-control-alternative"
                                            placeholder="Country"
                                            value="United States"
                                          />
                                        </div>
                                      </div>
    ​
                                      <div class="col-lg-4">
                                        <div class="form-group">
                                          <label
                                            class="form-control-label"
                                            for="input-country"
                                            >Postal code</label
                                          >
                                          <input
                                            type="number"
                                            id="input-postal-code"
                                            class="form-control form-control-alternative"
                                            placeholder="Postal code"
                                          />
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- <div class="card-footer">Footer</div> -->
                              </div>
                            </div>
    ​
                            <div class="col-12">
                              <!-- Default box -->
                              <div
                                class="card collapsed-card card-outline card-secondary"
                              >
                                <div class="card-header">
                                  <h3 class="card-title">About Me</h3>
                                  <div class="card-tools">
                                    <button
                                      type="button"
                                      class="btn btn-tool"
                                      data-card-widget="collapse"
                                      title="Collapse"
                                    >
                                      <i class="fas fa-plus"></i>
                                    </button>
                                  </div>
                                </div>
    ​
                                <div class="card-body">
                                  <div class="pl-lg-4">
                                    <div class="form-group focused">
                                      <label>About Me</label>
                                      <textarea
                                        rows="4"
                                        class="form-control form-control-alternative"
                                        placeholder="A few words about you ..."
                                      >
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, est.</textarea
                                      >
                                    </div>
                                  </div>
                                </div>
                                <!-- <div class="card-footer">Footer</div> -->
                              </div>
                            </div>
                          </form>
    ​
                          <div class="float-right">
                            <button type="submit" class="btn btn-secondary">
                              Save
                            </button>
                            <button type="submit" class="btn btn-secondary">
                              Cancel
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
 